<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<h1>Welcome <%= @user.name%> </h1>

<p>Click to view Approved  Vehicle Testing Companies in the UK.<br />
<p> Search by<br />
<li><%= link_to "City", '#' %></li>
<li><%= link_to "Post Code", '#' %></li>
<br>
<p> Search by map<br />
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="googleMap" style="width:500px;height:380px;"></div>
</p>