<h1>About Us</h1>
<p>Earthquake Predictions!</p>
<p>Our application is very informative and gives you a view of recent earthquake activities across the guide.</p>
<p>Search our database to get your prediction today!</p>



