
<html>
<h1>Earthquake App</h1>
<p>Earthquake Predictions!</p>
<p>Our application is very informative and gives you a view of recent earthquake activities across the guide.</p>
Search our database to get your prediction today!
  
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.

</html>
