<div class="center hero-unit">
<h1>Earthquake App</h1>
<p>Earthquake Predictions!</p>
<p>Our application is very informative and gives you a view of recent earthquake activities across the guide.</p>
<br>

<p><li><%= link_to "Sign up", '#' %> to view!</li></p>


