<div class="center hero-unit">
<h1>Earthquake App</h1>
<p>Earthquake Predictions!</p>
<p>Our application is very informative and gives you a view of recent earthquake activities across the guide.</p>

</div>


