<!DOCTYPE html>
<html>
<head>
<title>Earthquake App | Login</title>
</head>
<body>
<h1>Login</h1>
<p>Earthquake Predictions!</p>
<p>Our application is very informative and gives you a view of recent earthquake activities across the guide.</p>
Search our database to get your prediction today!
</body> 
</html>

